body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

header {
  display: flex;
  margin: 0 auto;
  width: 1140px;
  align-items: center;
  justify-content: space-between;

}

.line {
  background-color: black;
  height: 1px;
  width: 100%;
}

.shopLogo {
  font-size: 36px;

}

.menuItems {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 30px;
  font-size: 18px;


}

.menuItems a {
  text-decoration: none;
  color: black;
}



.product-item {
  width: 220px;
  text-align: center;
  margin: 0 auto;
  border-bottom: 2px solid #9a8f8f;
  background: white;
  transition: .4s ease-in-out;
}



.product-item img {
  display: block;
  width: 80%;
}

.product-list {
  background: #fafafa;
  padding: 10px 0;
}

.product-list:hover {
  background: linear-gradient(#fafafa, #8c8b8b);
}

.product-list a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  color: #4d4848;
  margin-bottom: 10px;
}

.price {
  font-size: 16px;
  color: #000000;
  display: block;
}

.product-items {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1140px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 20px;
  flex-wrap: wrap;
}